.commentTable {
    width: 100%;
}

.commentTextColumn {
    width:70%;
}
.commentDateColumn {
    width:20%;
}
.commentButtonColumn {
    width:10%;
}

.commentDate {
    text-align: right;
}

.commentText {
    text-align: left;
}

.commentButtons {

}

.postCommentTextArea {
    max-width: 700px;
    width: 100%;
}
