<ng-template #content let-modal>
  <div *ngIf="editedGame !== null">
    <div class="modal-header">
      <div class="form-floating" style="width: 100%;">
        <input type="text" class="form-control" id="titleEdit" placeholder="Title"  [(ngModel)]="editedGame.title">
        <label for="titleEdit">Title</label>
      </div>

    </div>
    <div class="modal-body">
      <div class="form-floating">
        <textarea rows="5" style="height: 100%;" type="text" class="form-control" id="descriptionEdit" placeholder="Description" [(ngModel)]="editedGame.description" ></textarea>
        <label for="descriptionEdit">Description</label>
      </div>
      <br/>
      <div class="form-floating">
        <input type="text" class="form-control" id="imageEdit" placeholder="URL" [(ngModel)]="newGame.imageURL">
        <label for="imageEdit">Image URL</label>
      </div>
    </div>

    <div class="modal-footer">
      <span style="float: left;">
        <button class="btn btn-primary" >Save Changes</button>
      </span>
      <button type="button" class="btn btn-warning" (click)="modal.close(editedGame = null)">Close</button>
    </div>
  </div>
</ng-template>



<div *ngIf="!selectedGame">
  <div>
    <div class="form-floating">
      <input type="text" class="form-control" id="titleInput" placeholder="Title"  [(ngModel)]="newGame.title">
      <label for="titleInput">Title</label>
    </div>
    <div class="form-floating">
      <textarea rows="5" style="height: 100%;" type="text" class="form-control" id="descriptionInput" placeholder="Description" [(ngModel)]="newGame.description" ></textarea>
      <label for="descriptionInput">Description</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="imageInput" placeholder="URL" [(ngModel)]="newGame.imageURL">
      <label for="imageInput">Image URL</label>
    </div>
    <br>
    <button class="btn btn-primary" (click)="createGame(newGame)">Add Game</button>
  </div>

  <br>
  <!-- <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>
          <img [src]="game.imageURL"/>
        </td>
        <td>{{game.id}}</td>
        <td>{{game.title}}</td>
        <td>{{game.description}}</td>
        <td class="overflow-hidden">
          <div ngbDropdown container="body">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Edit</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem>Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>

<div class="container-fluid chart-contianer">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">
    <div *ngFor="let game of games" class="col">
      <div class="card container card-container">
        <div class="row">
          <div class="col-md-5 cover-div">
            <img [src]="game.imageURL" class="card-image"/>
            <div class="title-overlay">
              <a href="" class="card-title">{{game.title}}</a>
            </div>
          </div>

          <div class="col-md-7 card-text-column">
            <div class="card-text-div">
              {{game.description}}
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-primary btn-sm" (click)="openVerticallyCentered(content,game)">Edit</button>
          <span style="float: right;">
            <button class="btn btn-danger btn-sm">Delete</button>
          </span>

        </div>
      </div>


      <!-- <div class="card" style="height: 210px; width: 150px;">
        <img [src]="game.imageURL" class="card-img-top rounded" style="height: 100%; width: 100%;"/>
        <img [src]="game.imageURL" class="card-img-top img-fluid rounded-start" style="height: 100%; width: 100%;"/>

        <div class="card-body">
          <a href="" class="card-title">{{game.title}}</a>
          <div ngbDropdown container="body">

            <button class="btn btn-primary btn-sm" ngbDropdownToggle>Actions</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Edit</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem>Delete</button>
            </div>

          </div>

        </div>

      </div> -->
    </div>
  </div>
</div>


<!-- <div>
  <mat-grid-list cols="4" gutterSize="50" rowHeight="1:1.5">
    <div *ngFor="let game of games">
      <mat-grid-tile class="card rounded container">
        <div class="card rounded container-fluid">

          <img [src]="game.imageURL" class="card-img-top rounded"/>

          <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <div ngbDropdown container="body">

              <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem>Edit</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Delete</button>
              </div>

            </div>

          </div>
        </div>

      </mat-grid-tile>
    </div>

    </mat-grid-list>

</div> -->





