.chart-contianer {
  max-width: 1500px;
  padding: 20px;
}

.card-container {
  padding: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 370px;
}

.card-image {
  max-width: 170px;
  height: 200px;
  width: 100%;
}

.card-image-div {
  padding-right: 0%;
}

.card-title-div {
  max-height: 20px;
}
.card-text-column {
  padding-left: 2%;
}
.card-text-div {
  max-height: 200px;
  padding-right: 2%;
  font-size: small;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-text-div::-webkit-scrollbar {
  display: none;
}

